.big-wrapper{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shape{
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: -180px;
    left: -15px;
    opacity: 0.1;
}

.from-top{
    z-index: 100;
    animation: appear-fromTop .8s 1 ease-in-out;
    animation-fill-mode: both;
  }
  
  @keyframes appear-fromTop{
    0%{
        clip-path: circle(30% at -25% -25%);
    }
    100%{
        clip-path: circle(150% at 0 0);
    }
  }

  .from-bottom{
      z-index: 100;
      animation: appear-fromBottom 1s 1 ease-in-out;
      animation-fill-mode: both;
  }

  @keyframes appear-fromBottom{
    0%{
        clip-path: circle(30% at 125% 125%);
    }
    100%{
        clip-path: circle(150% at 0 0);
    }
  }